/*
 * Copyright (c) 2021 Andrei-Edward Popa
 * Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
 * Copyright (c) 2022 Wolter HV <wolterhv@gmx.de>
 * Akshay Narahari Kulkarni <akshaynkulkarni@gmail.com>
 * 
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		userled0 = &customled0;
		usercom0 = &uart0;
		usercom1 = &uart1; // Tx: GPIO 27, RX: GPIO 26
		led0 = &blue_led;
		user-pwm-0 = &ledc0;
		user-pwm-led = &pwm_led4;
		//user-adc = &adc;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		};
		customled0: user_led0 {
			gpios = <&gpio0 4 (GPIO_ACTIVE_LOW)>;
		};
	};

	//Inspired from sample pwm esp32 dts
	pwmleds {
		compatible = "pwm-leds";
		pwm_led4: gpio0_2 {
			label = "PWM Blue led";
			pwms = <&ledc0 0 PWM_MSEC(10U) PWM_POLARITY_NORMAL>;
		};
	};

	zephyr,user {
		io-channels =
			<&adc0 0>;
	};
};
//Override the pins; GPIO 9 and GPIO 10 are connected to flash. 
&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO27>;
			output-high;
		};
		group2 {
			pinmux = <UART1_RX_GPIO26>;
			bias-pull-up;
		};
	};

	ledc0_default: ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO2>;
			output-enable;
		};
	};
};

&uart1 {
	status = "okay";
};

&ledc0 {
	status = "okay";
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 { //Pin 36
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};